
.button{
  background-color: #6F4DF5;
  border: 0;
  border-radius: 10px;
}
 
.link{
 text-decoration: none;
 color: #6F4DF5;
 font-weight: 600;
}
 
.primary-color input{
border-color: #6F4DF5;
}
 
.primary-color textarea {
border-color: #6F4DF5;
}
 
.primary-color .phone {
  border-color: #6F4DF5;
  }