
.button{
  background-color :#008000;
  border: 0;
  border-radius: 10px;
}
 
.link{
  
 text-decoration: none;
 color: #008000;
 font-weight: 600;
}
 
.primary-color input{
border-color: #008000;
}
 
.primary-color textarea {
border-color: #008000;
}
 
.primary-color .phone {
  border-color: #008000;
  }